/* Estilo para o carrinho */
.custom-navbar .cart-counter {
    background-color: #007bff; /* Azul mais claro */
    color: #fff; /* Texto branco */
    border-radius: 50%;
    padding: 2px 6px;
    margin-left: 4px;
}

/* Estilo para o botão de logout */
.custom-navbar .nav-link:last-child {
    color: #fff; /* Texto branco */
    background-color: #4b65cc; /* Vermelho */
    border-radius: 4px;
    padding: 8px 12px;
    font-weight: bold;
}

/* Estilo para a navbar do usuário */
.user-navbar {
    background-color: #6aeacd; /* Azul mais escuro */
    color: #000; /* Texto preto */
}

/* Estilo para a navbar do admin */
.admin-navbar {
    background-color: #4791c9; /* Cinza mais escuro */
    color: #fff; /* Texto branco */
}
