.card-media {
    height: 120px;
}

.product-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.product-price {
    font-size: 1rem;
}

.product-stock {
    font-size: 1rem;
}

.add-to-cart-button {
    margin-top: 10px;
}
